<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- I need INTERNET permission for development because Flutter uses it to
         talk to the running app (for stuff like hot reload and debugging).
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
